/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	background: #EEEEEE;
}
body, input {
	font-family: Avenir, Helvetica, Arial;
}

